.products{

    margin: 0 0 69px;

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list{
        list-style: none;
        margin: 0 0 32px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }

    &__heading{
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        color: $color-grey;
        margin: 0 0 32px;
    }

}