.type-room{
    margin: 0 0 56px;

    .container{
        padding: 0 131px;
    }

    &__heading{
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        color: $color-Night-Rider;
        margin: 0;
        text-align: center;
    }

    &__description{
        color: $color-Dim-Gray;
        text-align: center;
        font-size: 20px;
        line-height: 100%;
        margin: 0 0 62px;
    }

    &__gallery{
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;        
    }

    &__picture{
        margin: 0;          
    }

    &__img{
        margin-bottom: 30px;
    }

    &__img-description{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
    }
}