/* fonts */
/* -------------------- */
$ff-main: "Poppins", "Arial", sans-serif;
$ff-montserrat: "Montserrat", "Arial", sans-serif;


/* Colors */
/* -------------------- */
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #3A3A3A;
$color-Nobel: #9F9F9F;

$color-black-light: rgba(0, 0, 0, 0.17);

